<div class="containerForm">
  <h3>Adding a picture!</h3>
  <form #myForm="ngForm" (ngSubmit)="addItem(); myForm.reset()">

    <div class="form-group" [class.has-error]="myValueModel.invalid && myValueModel.touched">
      <label for="link" class=" control-label">Link</label>
      <input type="text" class="form-control" id="link" required
             pattern="^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$"
             [(ngModel)]="myValue"
             name="myValue"
             #myValueModel="ngModel"
             [required]="isRequired">
      <p class="help-block" *ngIf="myValueModel.errors?.required && myValueModel.touched">
        Link is required
      </p>
      <p class="help-block" *ngIf="myValueModel.errors?.pattern && myValueModel.touched">
        Link is invalid, the link should begin with http:// or https://
      </p>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="valueTitle"
             name="valueTitle"
             #valueTitleModel="ngModel"
             [required]="isRequired"
      >
      <p class="help-block" *ngIf="valueTitleModel.errors?.required && valueTitleModel.touched">
        Title is required
      </p>
    </div>
    <div>
      <button class="button" [disabled]="myForm.invalid" >Add</button>
    </div>
  </form>
</div>

